.heilongjiang-01{
	.dot{
		position: fixed;
		left: -0.75em;
		top: -0.75em;
		z-index: 11;
		font-size: 12px;
		width: 1.5em;
		height: 1.5em;
		border: 1px solid transparent;
		box-sizing: border-box;
		border-radius: 50%;
		padding: 0px;
		background: rgb(66, 185, 131);
		color: #fff;
		line-height: 1.5em;
		text-align: center;
	}
}