@import './reset.less';
.nav-container{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1000;
	background-color: #f2f2f2;
	overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
	.index-nav{
		height: 100%;
		display: flex;
		// overflow-x: scroll;
		-webkit-transform-origin: left top;
    	transform-origin: left top;
    	transform: translate3d(0px, 0px, 0px) scale(1);
		&::-webkit-scrollbar {
	        display: none;
	    }
		.navItem{
			padding: 10px 0;
			flex: 1;
			min-width: 3.4em;
			text-align: center;
			position: relative;
			a{
				color: #000;
				line-height: 30px;
				text-decoration: none;
			}
			.amount{
				position: absolute;
				right: 0.4em;
				top: 2px;
				width: 16px;
				height: 16px;
				border-radius: 100%;
				background: #42b983;
				color: #fff;
				line-height: 16px;
				border-radius: 8px;
				font-size: 12px;
				border: 1px solid #fff;
				box-sizing: content-box;
				text-align: center;
			}
		}
		.navItem.active{
			a{
				color: red;
				font-weight: bold;
				font-size: 1.4em;
			}
		}
	}
}
