.shanghai{
	/* 第一个例子 */
	.shanghai-01{
		.scroll-container {
		    height: 3em;
		    position: relative;
			height: 50px;
			width: 100%;
			padding: 0;
			margin: 0;
			z-index: 12;
			background: transparent;
		    &::-webkit-scrollbar {
		        display: none;
		    }
		    #scroller{
		    	height: 2em;
		    	display: flex;
				padding-bottom: 1em;
				box-sizing: content-box;
				 li{
					line-height: 2em;
					border: 1px solid red;
					border-radius: 6px;
					text-align: center;
					margin-left: 1em; 
					min-width: 5em; 
					&:nth-of-type(1){
						margin-left: 0;
					}
				}
				li.active{
					background: #fff;
					color: #42b983;
					border: 1px solid #42b983;
				}
				&::-webkit-scrollbar {
			        display: none;
			    } 
		    }
		}
		.tabs-contents{
			li{
				text-align: center;
			}
		}
	}
}
