.shanxi{
	padding: 0 0 60px;
	.shanxi-01{
		height: auto;
		.carousel-container{
			// height: auto;
			min-height: 198px;
			width: 100%;
			position: relative;
			overflow: hidden;
			.carousel-items{
				position: absolute;
				left: 0;
				top: 0;
				height: 198px;
				.carousel-item{
					height: 100%;
					a{
						display: inline-block;
						width: 100%;
						height: 100%;
						img{
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}
		.content{
			padding: 0.4em 1.4em 0;
		}
	}
}